# 1.Create a empty list and check its Data type

In [2]:
list1=[]
type(list1)

list

# 2.Create a list in which at even places string are present and at odd places integervalue is present and the length of the list is 6.

In [4]:
a= [1,"Apple",3,"Mango",5,"Orange"]
len(a)

6

# 3.Create a list which has 6 elements and print last three elements from the list

In [16]:
a= [1,2,3,4,5,6]
list[-3:]

[4, 5, 6]

# 4.What is the output : list = [1,2,3,4,5,6,7]     list[:]=?

In [5]:
list = [1,2,3,4,5,6,7]
list[:]

[1, 2, 3, 4, 5, 6, 7]

# 5.What is the output : list = [1,2,3,4,5,6,7] Print the even places items from the list.

In [20]:
list = [1,2,3,4,5,6,7]
list[1:7:2]

[2, 4, 6]

# 6.What is the output : list = [1,2,3,4,10,11,7]print 10 and 11 item from the list .

In [45]:
 list = [1,2,3,4,10,11,7]
list[4:6]

[10, 11]

# 7.Delete the 3 index value from the list and the print the list. list = [1, 2, 3, 4, 5, 6]  print(list)

In [46]:
list = [1, 2, 3, 4, 5, 6]
list.pop(3)

4

In [28]:
list

[1, 2, 4, 5, 6]

# 8.list = [1, "a", 3, 4, 5, 6]. replace "a" by 2 in the list. What is the new list?

In [26]:
list = [1, "a", 3, 4, 5, 6]
list[1]=2
list

[1, 2, 3, 4, 5, 6]

# 9.list = [1, 2, 3, 4, 5, 6]by using neagtive indexing replace 5 by 'e' in the list. print(list)

In [48]:
list = [1, 2, 3, 4, 5, 6]
list[-2]='e'
list

[1, 2, 3, 4, 'e', 6]

# 10.list = [1, 2, 3, 4, 5, 6] replace 1st and 2nd index value by (89,78) print(list)

In [49]:
list=[1,2,3,4,5,6]
list[1]=89
list[2]=78
print(list)

[1, 89, 78, 4, 5, 6]

# 11.Rermove Science item from the list. Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']

In [50]:
subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']

In [51]:
subject.remove('science')

In [52]:
subject

['math', 'hindi', 'SST', 'Sanskrit']